.button {
  display: block;
  background: #77B4D2;
  position: absolute;
  width: 20rem;
  padding: 1rem;
  border-radius: .6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1rem;
  box-shadow: 0px 10px 0px 0px #4F8EAE;
  transition: .1s;
}

.button:hover {
  box-shadow: none;
  margin-top: 10px;
}
